h1 {
    font-size: 50px;
    text-align: center;
    background-color: #89a780;
}
body {
    background: #f0f8ff;;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
b {
    font-size: 20px;
}
h2 {
    background-color: #b6b29e;
}
